# Task validate data model against JSON schema
# By Ed Scrimaglia
---
- name: Validar el modelo de datos contra el esquema JSON
  ansible.utils.validate:
    data: "{{ lookup('file', modelo_datos_path) | from_yaml }}"
    criteria: "{{ lookup('file', schema_path) | from_json }}"
    engine: ansible.utils.jsonschema
  register: validation_result

- name: Mostrar resultado de la validacion
  ansible.builtin.debug:
    var: validation_result


# validate.yaml
# Este es el que realmente corre cuando ejecutas el playbook
# lookup('file', modelo_datos_path) Lee el archivo completo como texto crudo, el lookup devuelve el texto completo, no un dict
# from_yaml,  Convierte ese texto crudo en una estructura Python/Ansible

# criteria: "{{ lookup('file', schema_path) | from_json }}", lo lee como texto, lo parsea a dict con from_json

# engine: ansible.utils.jsonschema , ndica que el motor de validación es JSON Schema.

# register: validation_result, Guarda el resultado de la validación

# Mostrar resultado, ansible.builtin.debug: Imprime el resultado completo