# Estructuras de progrmacion en Ansible
# By Ed Scrimaglia
---
- name: Estructure de programacion - Loop
  hosts: localhost
  gather_facts: false

  vars_files:
    - ./modelo_datos/modelo_datos.yaml

  tasks:
    - name: Definir variable segun version del modelo
      ansible.builtin.set_fact:
# devices pasa a ser una lista de diccionarios
        devices: "{{ modelo.infra_spec.devices }}"

    - name: Mostrar salida iteracion sobre lista de dispositivos. Uso de loop_control para simplificar salida
      ansible.builtin.debug:
# msg es el parámetro del módulo debug que define qué mensaje se imprime.
# item es cada elemento de la lista que estás iterando (devices)
# Por cada iteración, Ansible asigna a item uno de los objetos dentro de devices
# Simplemente le pide al módulo debug que muestre el campo interfaces del dispositivo actual
        msg: "{{ item.vlans }}"
# Iterá cada elemento de la lista devices, segun el modelo de datos los elementos de devices son hostname
      loop: "{{ devices }}"
# Esto le cambia el nombre que muestra Ansible en el output por cada iteración
# La etiqueta será el valor de hostname dentro de cada elemento de la lista devices
      loop_control:
        label: "{{ item.hostname }}"